hostname = "guanyu"
instance_name = "iuxt"
instance_id = "5057fea1-b2be-47b0-9e42-5c2cf36d3f82"
ipv4 = "10.233.233.1/24"
dhcp = false
listeners = [
    "tcp://0.0.0.0:11010",
    "udp://0.0.0.0:11010",
    "wg://0.0.0.0:11011",
]
rpc_portal = "0.0.0.0:0"

[network_identity]
network_name = "iuxt"
network_secret = "3709e702-1356-4ded-9be4-a53f3915e7c8"

[vpn_portal_config]
client_cidr = "10.14.14.0/24"
wireguard_listen = "0.0.0.0:11013"

[flags]
dev_name = "easytier"
enable_kcp_proxy = true
